* {
    box-sizing: border-box;
  }

body {
    /* font-family: 'Muli', sans-serif; */
    overflow: hidden;
    margin: 0 auto;
    height: 1050px;
    width: 2000px;
    background: #000;
    text-align: center;
    font-family: 'DIN Next Rounded LT Pro', sans-serif;
  }
  .container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-size: 100%;
  }

  .overlay {
    position: absolute;
      /* overflow: hidden; */
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
  }
  .overlay.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .overlay > img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    /* transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1); */
  }

  .cup{
    z-index: 1;
    transform: translateY(100%);
  }
  .overlay.animated .cup{
    transform: translateY(0);   
    transition: transform 4000ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .confeti{
    z-index: 2;
    height: 100%;
    transform: translateY(100%);
  }
  .overlay.animated .confeti{
    transform: translateY(-12%);
    transition: transform 4000ms 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .left_image{
    z-index: 5;
    transform: translateX(-100%);
  }
  .overlay.animated .left_image{
    animation: left-image 10500ms cubic-bezier(0.4, 0, 0.2, 1) 4000ms;
  }
  @keyframes left-image {
    0%{
      transform: translateX(-100%);
    }
    20%{
      transform: translateX(0)
    }
    60%{
      transform: translateX(0)
    }
    100%{
      transform: translateX(-100%);
    }
  }
  
  .right_image{
    z-index: 5;
    transform: translateX(100%);
  }
  .overlay.animated .right_image{
    animation: right-image 10500ms cubic-bezier(0.4, 0, 0.2, 1) 4000ms;
  }
  @keyframes right-image {
    0%{
      transform: translateX(100%);
    }
    20%{
      transform: translateX(0)
    }
    60%{
      transform: translateX(0)
    }
    100%{
      transform: translateX(100%);
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 27vh;
    font-size: 25vh;
    line-height: 19vh;
    font-weight: 900;
    color: white;
  }
  .text-item {
    z-index: 6;
    opacity: 0;
    /* transition: opacity 2500ms 6000ms cubic-bezier(0.4, 0, 0.2, 1); */
  }
  .text-item:nth-child(2n) {
    font-size: 18vh;
  }
  .text-item:nth-child(3n) {
    font-size: 10vh;
    line-height: 9vh;
  }
  .overlay.animated .text-item {
    animation: text-item 6000ms cubic-bezier(0.4, 0, 0.2, 1) 5500ms;
  }
  .overlay.animated .text-item:nth-child(2n) {
    animation: text-item 6000ms cubic-bezier(0.4, 0, 0.2, 1) 6000ms;
  }
  .overlay.animated .text-item:nth-child(3n) {
    animation: text-item 6000ms cubic-bezier(0.4, 0, 0.2, 1) 6500ms;
  }
  @keyframes text-item {
    0%{
      opacity: 0;
    }
    25%{
      opacity: 1;
    }
    60%{
      opacity: 1;
    }
    80%{
      opacity: 0;
    }
  }

  .left_emblema {
    z-index: 6;
    opacity: 0;  
    width: 10vh;
  }
  .overlay.animated .left_emblema {
    top: -45%;
    left: -30%;    
    transform: scale(0.2);

    animation: left_emblema 13500ms cubic-bezier(0.4, 0, 0.2, 1) 7000ms;  
  }
  @keyframes left_emblema {
    0%   {opacity: 0; transform: scale(1) translateX(0);}
    25%  {opacity: 1; transform: scale(0.2) translateX(0);}
    49%  {opacity: 1; transform: scale(0.2) translateX(-250%);}
    60%  {opacity: 1; transform: scale(0.2) translateX(-300%);}
    90% {opacity: 1; transform: scale(0.2) translateX(-350%);}
    100% {opacity: 1; transform: scale(0.2) translateX(-350%);}
  }

  .right-emblema {
    z-index: 6;
    opacity: 0;
    width: 10vh;
  }
  .overlay.animated .right-emblema {
    top: -45%;
    left: 30%; 
    transform: scale(0.2);

    animation: right_emblema 13500ms cubic-bezier(0.4, 0, 0.2, 1) 7000ms; 
  }

  @keyframes right_emblema {
    0%   {opacity: 0; transform: scale(1) translateX(0);}
    25%  {opacity: 1; transform: scale(0.2) translateX(0);}
    49%  {opacity: 1; transform: scale(0.2) translateX(250%);}
    60%  {opacity: 1; transform: scale(0.2) translateX(300%);}
    90% {opacity: 1; transform: scale(0.2) translateX(350%);}
    100% {opacity: 1; transform: scale(0.2) translateX(350%);}
  }

  .bg2_image {
    z-index: 3;
    opacity: 0;
  }
  .overlay.animated .bg2_image {
    opacity: 1;
    transition: opacity 2500ms 6000ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button {
    display: block;
    position: absolute;
    border: none;
    background-color: transparent;
  }
  .overlay.animated .button.hiddenBtn {
    opacity: 0;
    pointer-events: none;
  }

  .button_additional_plus{
    z-index: 4;
    top: 12vh;
    right: 16vw;
    opacity: 0;
  }
  .overlay.animated .button_additional_plus{
    opacity: 1;
    transition: opacity 2500ms 6000ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button_additional_close{
    z-index: 4;
    top: 12vh;
    right: 18.2vw;
    opacity: 0;
  }
  .overlay.animated .button_additional_close{
    opacity: 1;
    transition: opacity 2500ms 6000ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button_additional_play{
    z-index: 4;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .overlay.animated .button_additional_play{
    opacity: 1;
    transition: opacity 2500ms 6000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .overlay.animated video{
    z-index: 6;
  }

  .button_main_show{
    z-index: 7;
    right: 2vh;
    top: 2vh;
    padding: 2vh;
    font-size: 2vh;
    opacity: 1;
    border: 1px double black ;
  }
  .button_main_show.is-hidden{
    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 1000ms;   
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button_main_close {
    z-index: 7;    
    right: 0;
    top: -0.1vw;
    width: 3vw;
    height: 3vw;

    opacity: 0;
  }
  .overlay.animated .button_main_close {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 2000ms;   
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }