* {
    box-sizing: border-box;
  }

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0 auto;
    height: 1050px;
    width: 2000px;
    background: #000;
    text-align: center;
  }
  .container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-size: 100%;
  }

  .overlay {
    position: absolute;
      /* overflow: hidden; */
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
  }
  .overlay.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .overlay > img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    /* transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1); */
  }

  .cup{
    z-index: 1;
    transform: translateY(100%);
  }
  .overlay.animated .cup{
    transform: translateY(0);   
    transition-property: transform;
    transition-duration: 4000ms;   
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .confeti{
    z-index: 2;
    height: 100%;
    transform: translateY(100%);
  }
  .overlay.animated .confeti{
    transform: translateY(-12%);
    transition-property: transform;
    transition-duration: 4000ms;   
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 2600ms;
  }

  .left_image{
    z-index: 5;
    transform: translateX(-100%);
  }
  .overlay.animated .left_image{
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 3000ms;   
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 6000ms;
  }
  .right_image{
    z-index: 5;
    transform: translateX(100%);
  }
  .overlay.animated .right_image{
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 3000ms;   
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 6000ms;
  }

  .overlay.animated .text {
    z-index: 6;
  }
  .overlay.animated .left_emblema {
    z-index: 6;
  }
  .overlay.animated .right-emblema {
    z-index: 6;
  }

  .overlay.animated .bg2 {
    z-index: 3;
    /* opacity: 1;
    transform: translateY(0);
    transition-delay: 5000ms; */
  }

  .button {
    display: block;
    position: absolute;
    border: none;
    background-color: transparent;
  }

  .overlay.animated .button_open{
    z-index: 4;
  }
  .overlay.animated .video{
    z-index: 4;
  }
  .overlay.animated .button_close{
    z-index: 4;
  }

  .button_main_show{
    z-index: 7;
    right: 2vh;
    top: 2vh;
    padding: 2vh;
    font-size: 2vh;
    opacity: 1;
    border: 1px double black ;
  }
  .button_main_show.is-hidden{
    opacity: 0;
    pointer-events: none;
  }
  .button_main_close {
    z-index: 7;    
    right: 0;
    top: -0.1vw;
    width: 3vw;
    height: 3vw;

    opacity: 0;
    pointer-events: none;
  }
  .overlay.animated .button_main_close {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 3000ms;   
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* .button_main_close img{
    width: 100%;
    display: block;
} */